/* Angular Bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* App */
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.buttons {
  margin-top: 20px;
}
.buttons .btn {
  min-height: 50px;
  text-align: center;
}
.buttons .btn span {
  white-space: normal;
  vertical-align: middle;
}

.form-search .close {
  text-align: left;
}
.form-search .close:focus {
  outline: none;
}
.form-search .close>span {
  pointer-events: auto;
}

.navbar-buttons-mobile {
	float: right;
	position: relative;
	margin-right: 15px;
}

.mute-mobile {
  color: #9d9d9d;
  padding-top: 15px;
  padding-bottom: 15px;
}
