/* Angular Bootstrap fix */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* App */
body {
  padding-top: 50px;
}

.right {
  float: right;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.buttons {
  margin-top: 20px;
}

.buttons .btn {
  min-height: 50px;
  text-align: center;
}
.buttons .btn:focus {
  background-color: transparent;
}

.buttons .btn span {
  white-space: normal;
  vertical-align: middle;
}
.buttons .btn span.glyphicon-star-empty,
.buttons .btn span.glyphicon-star {
  position: absolute;
  right: 2px;
  font-size: 18px;
}
span.glyphicon-star {
  color: #DDDD00;
}
span.glyphicon-star:after {
  color: #000;
  content: "\e007";
  margin-left: -1em;
}

.dropdown-menu span.glyphicon-star-empty {
  position: absolute;
}

.form-search .close {
  text-align: left;
}

.form-search .close:focus {
  outline: none;
}

.form-search .close>span {
  pointer-events: auto;
}

.navbar-buttons-mobile {
  float: right;
  position: relative;
  margin-right: 15px;
}

.mute-mobile {
  color: #9d9d9d;
  padding-top: 15px;
  padding-bottom: 15px;
}


/* Alerts */
.alert-container {
  position: relative;
}
.alert-container .alert-subcontainer {
  /* Make alerts displayed above page content */
  position: fixed;
  z-index: 1051;
  right: 15px;
}
/* Permit alerts to have newlines */
.alert-container .alert-subcontainer .alert>div>span {
  white-space: pre-wrap;
}

/* We animate show/hide */
.alert-container .alert-subcontainer .alert.ng-leave.ng-leave-active, .alert-container .alert-subcontainer .alert.ng-enter {
  opacity: 0;
}
.alert-container .alert-subcontainer .alert.ng-enter.ng-enter-active, .alert-container .alert-subcontainer .alert.ng-leave {
  opacity: 1;
}
.alert-container .alert-subcontainer .alert.ng-leave, .alert-container .alert-subcontainer .alert.ng-enter {
  /* the transition is defined in the active class */
  transition: opacity ease 0.3s;
}

/* Typeahead and Dropdowns */
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: #222;
}
.dropdown-menu a {
  color: #222;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li span.glyphicon {
  position: absolute;
  right: 5px;
  line-height: 24px;
}
.dropdown-menu>.active> span.glyphicon {
  color: #fff;
}
.dropdown-menu>.active> span.glyphicon-star {
  color: #000;
}
.dropdown-menu>.active> span.glyphicon-star:after {
  color: #DDDD00;
}