/* Angular Bootstrap fix */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* App */
body {
  padding-top: 50px;
}

.right {
  float: right;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.buttons {
  margin-top: 20px;
}

.buttons>span {
  padding: 2px;
}

.buttons .btn {
  height: 55px;
  text-align: center;
  background: rgb(206,220,231); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(206,220,231,0.2) 0%, rgba(38,38,38,0.1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(206,220,231,0.2) 0%,rgba(38,38,38,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(206,220,231,0.2) 0%,rgba(38,38,38,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 100%;
  word-wrap: break-word;
}
.buttons .btn:focus {
  background-color: transparent;
}

.buttons .btn span {
  white-space: normal;
  vertical-align: middle;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: inline; /* Fallback for non webkit */
  display: -webkit-box;
  overflow: hidden;
}
.buttons .btn span.fa-star-o,
.buttons .btn span.fa-star {
  position: absolute;
  right: 2px;
  top: 4px;
  font-size: 18px;
}
span.fa-star {
  color: #FFDD00;
}
span.fa-star:after {
  color: #000;
  content: "\f006";
  margin-left: -17px/*-1em*/;
}

.dropdown-menu span.fa-star-o {
  position: absolute;
}

.form-search .close {
  text-align: left;
}

.form-search .close:focus {
  outline: none;
}

.form-search .close>span {
  pointer-events: auto;
}

.navbar-buttons-mobile {
  float: right;
  position: relative;
  margin-right: 15px;
}

.navbar-nav>li>a.btn-mute {
  font-size: 19px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.glyphicon-volume-up {
  color: #00a500;
}
.glyphicon-volume-off {
  color: #FD3010;
}

.navbar-nav>li>a>span.fa,
.navbar-nav>li>a>span.glyphicon {
  display: none;
}
@media(min-width: 768px) and (max-width: 1199px) {
  .navbar-nav .text {
    display: none;
  }
  
  .navbar-nav>li>a>span.fa,
  .navbar-nav>li>a>span.glyphicon {
    display: inline;
  }
}

.navbar-buttons-mobile>a {
  margin-left: 5px;
  margin-right: 5px;
  color: #9d9d9d;
}

.mute-mobile {
  color: #9d9d9d;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-search-mobile {
  border: none;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 200px);
  float: none;
  padding: 10px 5px;
}
.form-search-mobile input.form-control {
  padding-right: 20px;
}

@media(max-width: 767px) {
  .navbar-header {
    text-align: center;
  }
  
  .navbar-brand {
    padding: 15px 10px;
  }
}

.navbar-brand img {
  height: 45px;
  margin-top: -10px;
}

/* Alerts */
.alert-container {
  position: relative;
}
.alert-container .alert-subcontainer {
  /* Make alerts displayed above page content */
  position: fixed;
  z-index: 1051;
  left: 15px;
}
/* Permit alerts to have newlines */
.alert-container .alert-subcontainer .alert>div>span {
  white-space: pre-wrap;
}

/* We animate show/hide */
.alert-container .alert-subcontainer .alert.ng-leave.ng-leave-active, .alert-container .alert-subcontainer .alert.ng-enter {
  opacity: 0;
}
.alert-container .alert-subcontainer .alert.ng-enter.ng-enter-active, .alert-container .alert-subcontainer .alert.ng-leave {
  opacity: 1;
}
.alert-container .alert-subcontainer .alert.ng-leave, .alert-container .alert-subcontainer .alert.ng-enter {
  /* the transition is defined in the active class */
  transition: opacity ease 0.3s;
}

/* Typeahead and Dropdowns */
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: #222;
}
.dropdown-menu a {
  color: #222;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li span.glyphicon,
.dropdown-menu li span.fa{
  position: absolute;
  right: 5px;
  top: 0px;
  line-height: 24px;
}
.dropdown-menu>.active> span.glyphicon,
.dropdown-menu>.active> span.fa {
  color: #fff;
}
.dropdown-menu>.active> span.fa-star {
  color: #000;
}
.dropdown-menu>.active> span.fa-star:after {
  color: #FFDD00;
}

/* Chat */
.chat-container {
  position: fixed;
  right: 0;
  bottom: 0;
  max-height: calc(100% - 52px);
  max-width: 350px;
  height: 600px;
  pointer-events: none;
}

.chat-container .date {
  font-style: italic;
  color: grey;
}

.chat-container>div>div {
  display: table;
}
.chat-container>div>div>.panel {
  vertical-align: bottom;
  display: table-cell;
  float: none;
  background: transparent;
}
.chat-container>div>div>.panel>* {
  pointer-events: auto;
}
.chat-container .chat-top-bar {
  height: auto;
}

.main-container {
  padding-bottom: 116px; /* for chat on mobiles */
}
@media(min-width: 768px) {
  .main-container {
    padding-bottom: 5px;
  }
}