<!DOCTYPE html>
<html lang="en" ng-app="samplereApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">


  <title>Samplère v2.0</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Fontawesome core CSS -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <!-- Chat -->
  <link href="css/irontec-simple-chat/style.css" rel="stylesheet">
  <link href="css/irontec-simple-chat/components/chat-bottom-bar.css" rel="stylesheet">
  <link href="css/irontec-simple-chat/components/chat-msg-container.css" rel="stylesheet">
  <link href="css/irontec-simple-chat/components/chat-msg.css" rel="stylesheet">
  <link href="css/irontec-simple-chat/components/chat-top-bar.css" rel="stylesheet">
  <link href="css/irontec-simple-chat/components/chat-window.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/samplere.css" rel="stylesheet">


  <script src="assets/js/vendor/angular.min.js"></script>
  <script src="assets/js/vendor/angular-resource.min.js"></script>
  <script src="assets/js/vendor/angular-route.min.js"></script>
  <script src="assets/js/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="assets/js/vendor/ngStorage.min.js"></script>
  <script src="assets/js/vendor/lodash.min.js"></script>
  
  <script src="js/samplere.module.js"></script>
  <script src="js/samplere.config.js"></script>
  <script src="js/samplere.controller.js"></script>
  <script src="js/samplere.resource.js"></script>
  <script src="js/samplere.run.js"></script>
  
  <script src="js/login/login.controller.js"></script>
  <script src="js/login/login.resource.js"></script>

  <script src="js/user/user.resource.js"></script>

  <script src="js/change_password/change_password.controller.js"></script>
  
  <script src="js/sounds/sounds.controller.js"></script>

  <script src="js/helpers/alert.service.js"></script>

  <!-- SingalR realtime notifications -->
  <script src="assets/js/vendor/jquery-1.6.4.min.js"></script>
  <script src="assets/js/vendor/jquery.signalR-2.2.0.min.js"></script>
  <script src="socket/hubs"></script>
  <script src="js/helpers/notification.service.js"></script>

  <!-- Chat -->
  <script src="assets/js/vendor/irontec-simple-chat.js"></script>
  <script src="js/chat/chat.controller.js"></script>

</head>

<body ng-controller="MainController">

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-buttons-mobile" ng-if="user">
        <a class="visible-xs-inline-block mute-mobile" href="#" ng-click="mute(); $event.preventDefault()"><span class="glyphicon {{isMuted ? 'glyphicon-volume-off' : 'glyphicon-volume-up'}}" title="{{isMuted ? 'Activer le son' : 'Couper le son'}}"></span></a>
      </span>
      <a class="navbar-brand" href="#">Samplère v2.0</a>
    </div>
    <div id="navbar" uib-collapse="isCollapsed" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isCurrentPage('') || isCurrentPage('/sounds')}"><a href="#">Accueil</a></li>
        <li ng-class="{active: isCurrentPage('/favorites')}"><a href="#/favorites">Favoris</a></li>
        <li ng-class="{active: isCurrentPage('/about')}"><a href="#about">À propos</a></li>
        <li><a href="#" class="hidden-xs btn-mute" ng-if="user" ng-click="mute(); $event.preventDefault()"><span class="glyphicon {{isMuted ? 'glyphicon-volume-off' : 'glyphicon-volume-up'}}" title="{{isMuted ? 'Activer le son' : 'Couper le son'}}"></span></a></li>
      </ul>
      <div ng-if="user" class="col-md-4 navbar-form form-group has-feedback form-search">
        <input id="search" type="search" class="form-control" placeholder="Rechercher un son..."
               uib-typeahead="sound.Name for sound in soundList | filter:{Name:$viewValue}"
               typeahead-on-select="callSound($item.Id)" autocomplete="off" ng-model="search.query" autofocus="true"
               typeahead-popup-template-url="views/templates/typeahead-popup.html">
        <button id="clearButton" type="button" class="close form-control-feedback" title="Effacer" ng-click="clear()"><span aria-hidden="true">&times;</span></button>
      </div>
      <ul class="nav navbar-nav right">
        <li ng-if="user" ng-class="{active: isCurrentPage('/change_password')}">
          <a href="#/change_password">
            <span class="text">Changer mot de passe</span>
            <span class="fa fa-key"></span>
          </a>
        </li>
        <li>
          <a href="#" class="hidden-xs" ng-if="user" ng-click="logout(); $event.preventDefault()">
            <span class="text">Déconnexion</span>
            <span class="fa fa-sign-out"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-container col-xs-12 col-sm-8 col-md-offset-1 col-md-8">

  <!-- Alerts -->
  <div class="container">
    <div class="row alert-container">
      <div class="alert-subcontainer">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</uib-alert>
      </div>
    </div>
  </div>

  <div ng-view></div>
  
</div>

  <!-- Chat -->
  <div class="chat-container col-xs-offset-1 col-xs-10 col-sm-4 col-md-3" ng-if="user" ng-controller="ChatController">
    <irontec-simple-chat
            messages="messages"
            username="username"
            input-placeholder-text="Ecris ici"
            submit-button-text="Envoi"
            title="Le Chat Du Samplère"
            submit-function="sendMessage"
            visible="visible"
            expand-on-new="expandOnNew">
    </irontec-simple-chat>
  </div>

</body>
</html>